controller:
  toletations:
  - key: "tools"
    operator: "Equal"
    effect: "NoSchedule"
    value: "true"
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: "tools"
            operator: "In"
            values: 
            - "true"
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
              - '{{ include "ingress-nginx.name" . }}'
            - key: app.kubernetes.io/instance
              operator: In
              values:
              - '{{ .Release.Name }}'
            - key: app.kubernetes.io/component
              operator: In
              values:
              - controller
          topologyKey: kubernetes.io/hostname
  
  admissionWebhooks:
    patch:
      tolerations:
      - key: "tools"
        operator: "Equal"
        effect: "NoSchedule"
        value: "true"

  defaultBackend:
    tolerations:
    - key: "tools"
      operator: "Equal"
      effect: "NoSchedule"
      values: "true"
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: "tools"
              operator: "In"
              value: 
              - "true"
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                - '{{ include "ingress-nginx.name" . }}'
              - key: app.kubernetes.io/instance
                operator: In
                values:
                - '{{ .Release.Name }}'
              - key: app.kubernetes.io/component
                operator: In
                values:
                - default-backend
            topologyKey: kubernetes.io/hostname
    